.taikhoankhachhang .add-khachhang-button {
  position: absolute !important;
  right: 19px;
  top: -7px;
}
taikhoankhachhang .danhsachsanpham-title {
  z-index: 3;
}
.taikhoankhachhang .add-item-modal {
  z-index: 2;
  width: 200px;
}
.taikhoankhachhang .form-main-add-edit {
  padding: 24px 0px;
  height: 150px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
