.add-khachhang-button {
  position: absolute !important;
  right: 19px;
  top: -7px;
}
.danhsachsanpham-title {
  z-index: 3;
}
.add-product-item-modal {
  z-index: 2;
  width: 800px;
}
.group-sanpham-quanly{
  z-index: 2;
}

.form-main-add-edit {
  padding: 24px 0px;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.form-main-add-edit2 {
  padding: 24px 0px;
  display: flex;
  height: 500px;
  flex-direction: column;
  overflow: scroll;
  width: 300px;
}

.timkiemthuonghieu-modal .add-khachhang-button {
  position: absolute !important;
  right: 19px;
  top: -7px;
}
.timkiemthuonghieu-modal .danhsachsanpham-title {
  z-index: 3;
}
.timkiemthuonghieu-modal .add-item-modal {
  z-index: 2;
}
.timkiemthuonghieu-modal .form-main-add-edit {
  padding: 24px 0px;
  height: 565px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.timkiemthuonghieu-modal .form-main-add-edit2 {
  padding: 24px 0px;
  height: 565px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.timkiemthuonghieu-modal .form-control .add-to-build {
  border: 0;
  margin: 5px;
  color: white;
  border-radius: 4px;
  position: relative;
  left: 200px;
  bottom: 5px;
}
