.iOhDoD .heading {
    font-size: 19px;
    line-height: 21px;
    font-weight: 300;
    margin: 20px 0px 15px;
}

.iOhDoD .inner {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 1px;
    min-height: 400px;
}

.iOhDoD th,
.iOhDoD td {
    min-width: 130px;
    padding: 20px 15px;
    color: rgb(120, 120, 120);
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

.iOhDoD td {
    font-size: 13px;
    line-height: 20px;
    color: rgb(51, 51, 51);
}

/* San pham da giao */

._2n4gHk {
    margin: 12px 0;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125rem;
}
.GuWdvd:first-child {
    padding-top: 24px;
}
.GuWdvd {
    padding: 12px 24px;
    background: #fff;
}
._1DPpu5, .WqnWb- {
    display: flex;
    align-items: center;
}
.WqnWb- {
    padding: 0 0 12px;
    justify-content: space-between;
}
._1DPpu5 {
    white-space: nowrap;
}
._1DPpu5, .WqnWb- {
    display: flex;
    align-items: center;
}
._2lVoQ1:first-child {
    margin: 0;
    border: 0;
}
._2lVoQ1 {
    margin: 10px 0 0;
    border-top: 1px solid rgba(0,0,0,.09);
}
._1limL3:last-child ._3tEHtP {
    display: none;
}
._3tEHtP {
    height: 10px;
    border-bottom: 1px solid rgba(0,0,0,.09);
}
._1BJEKe, ._3huAcN {
    display: flex;
    word-wrap: break-word;
}
._1BJEKe {
    padding: 12px 0 0;
    align-items: center;
    flex-wrap: nowrap;
    color: rgba(0,0,0,.87);
}
._3huAcN {
    padding: 0 12px 0 0;
    flex: 1;
    align-items: flex-start;
    flex-wrap: nowrap;
}
._1BJEKe, ._3huAcN {
    display: flex;
    word-wrap: break-word;
}
._3btL3m {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border: 1px solid #e1e1e1;
    background: #e1e1e1;
}
.shopee-image__wrapper {
    position: relative;
}
.shopee-image__place-holder {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fafafa;
}
.shopee-image__content {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}
.shopee-image__content--blur {
    width: 100%;
    height: 100%;
}
._1cxKtp {
    min-width: 0;
    padding: 0 0 0 12px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    word-wrap: break-word;
}
._1xHDVY {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 0 0 5px;
    font-size: 16px;
    line-height: 22px;
    max-height: 48px;
    text-align: left;
}
._1CO4Um, ._30COVM {
    vertical-align: middle;
}

element.style {
}
._1CO4Um, ._30COVM {
    vertical-align: middle;
}
._1xHDVY {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 0 0 5px;
    font-size: 16px;
    line-height: 22px;
    max-height: 48px;
}
._1cxKtp {
    min-width: 0;
    padding: 0 0 0 12px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    word-wrap: break-word;
}
._1BJEKe, ._3huAcN {
    display: flex;
    word-wrap: break-word;
}
._1BJEKe {
    padding: 12px 0 0;
    align-items: center;
    flex-wrap: nowrap;
    color: rgba(0,0,0,.87);
}
._2H6lAy, .y8ewrc {
    margin: 0 0 5px;
}
.y8ewrc {
    color: rgba(0,0,0,.54);
}
._1kvNGb {
    text-align: right;
}
._3j3LHM, ._34DOjq, .mBERmM {
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0,0,0,.87);
}
._1kvNGb {
    text-align: right;
}
._1BJEKe, ._3huAcN {
    display: flex;
    word-wrap: break-word;
}

element.style {
}
._3j3LHM, ._34DOjq, .mBERmM {
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0,0,0,.87);
}
._1kvNGb {
    text-align: right;
}
._1BJEKe, ._3huAcN {
    display: flex;
    word-wrap: break-word;
}
._1BJEKe {
    padding: 12px 0 0;
    align-items: center;
    flex-wrap: nowrap;
    color: rgba(0,0,0,.87);
}
._1J7vLy {
    width: 100%;
    height: 0;
    border-bottom: 1px dotted rgba(0,0,0,.09);
    position: relative;
}
._37UAJO {
    padding: 24px 24px 12px;
    background: #fffefb;
}
._1CH8fe {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.zO5iWv {
    cursor: pointer;
}
._-8oSuS {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 5px 0 0;
    line-height: 0;
}
._1mmoh8 {
    margin: 0 10px 0 0;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0,0,0,.8);
}
._1MS3t2 {
    color: #ee4d2d;
    font-size: 24px;
    line-height: 30px;
}
._1Qn42s {
    padding: 12px 24px 24px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    background: #fffefb;
}
._1lM63- {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    max-width: 400px;
    flex-grow: 1;
    word-wrap: break-word;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0,0,0,.54);
}
._1lM63- {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    max-width: 400px;
    flex-grow: 1;
    word-wrap: break-word;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0,0,0,.54);
}
._17rYB5 {
    color: #ee4d2d;
}
._2xFj47 .shopee-drawer {
    display: inline-flex;
}
._1_feWc {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}
._2BTXui, ._3YxeCv, ._23TzMz {
    display: flex;
    overflow: hidden;
}
._2BTXui, ._3YxeCv {
    margin: 0 0 0 10px;
    align-items: center;
    text-overflow: ellipsis;
}

element.style {
}
._2BTXui, ._3YxeCv {
    margin: 0 0 0 10px;
    align-items: center;
    text-overflow: ellipsis;
}
._2BTXui, ._3YxeCv, ._23TzMz {
    display: flex;
    overflow: hidden;
}
._1J7vLy .danhgia-btn{
    position: relative;
    margin-left: 630px;
    margin-top: -43px;
}

/*Danh gia modal*/
.modal-content {
    overflow: hidden;
    width: 100%;
    border: 0;
    border-radius: 10px;
    background: #ffffff;
    -webkit-box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}
.modal-content .modal-header {
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 15px;
    border-bottom: 0;
    background: #D70018;
}
.modal-header .modal-title {
    font-size: 16px;
}
.modal-content .modal-header .modal-title {
    width: calc(100% - (18px + 5px));
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: #ffffff;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-content .modal-header .close {
    float: right;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    text-shadow: none;
    color: #ffffff;
    opacity: 1;
}
.modal-header .close {
    margin-top: -2px;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.modal-content .modal-body {
    padding: 15px;
}
.form-review {
    width: 100%;
}
.box-review {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.box-review .cps-textarea {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid #DEE2E6;
    border-radius: 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.box-form-vote {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #DEE2E6;
    border-radius: 1rem;
    background: #ffffff;
    overflow: hidden;
}
.modal-body .btn-primary {
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 1rem;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}
.box-form-vote {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #DEE2E6;
    border-radius: 1rem;
    background: #ffffff;
    overflow: hidden;
}
.box-form-vote .title {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
}
.custom-stars {
    display: flex;
    width: 100% !important;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    flex-wrap: wrap;
}
.box-form-vote .rate {
    width: calc(100% / 6);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}
.box-form-vote .rate .fa-star {
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
}
.box-form-vote .rate span {
    width: 100%;
    font-size: 10px;
    font-weight: 300;
    text-align: center;
    color: #707070;
}
.box-review > * {
    width: 100%;
    margin-bottom: 10px;
}
.box-review .cps-group-input {
    border: 1px solid #DEE2E6;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.box-upload-file .cps-group-input .btn-browse {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background: #E5E7EB;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    cursor: pointer;
}
.modal-content .modal-body input {
    width: 100%;
    margin-bottom: 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid #e4e4e4;
    border-radius: 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.box-review .cps-textarea {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid #DEE2E6;
    border-radius: 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fa-star.checked, section.cps-section .block-rating .fa-star-half.checked {
    color: #F59E0B;
}